<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
    <title>Youtube Downloader</title>
</head>
<body>
<div class="label-container">
    <p class="label">Youtube Downloader</p>
</div>
<div class="main-container">
    <div class="option-bar">
        <ul>
            <li class="active" id="single_download" onclick="openTab('single_download')">
                <p>Tải xuống video</p>
            </li>
            <li id="playlist_download" onclick="openTab('playlist_download')">
                <p>Tải xuống playlist</p>
            </li>
            <li id="channel_download" onclick="openTab('channel_download')">
                <p>Tải xuống channel</p>
            </li>
        </ul>
    </div>
    <div class="download-container">
        <div class="single-download-container" id="single_download_container">
            <form action="/video_download" method="POST">
                <div class="input-container">
                    <div class="input-text-container">
                        <label for="video_url">Nhập link video</label>
                        <br>
                        <input type="text" id="video_url" name="video_url" onchange="getResolution()" required>
                    </div>
                    <div class="select-container">
                        <label for="res">Chất lượng</label>
                        <br>
                        <select name="resolution" id="resolution" required>

                        </select>
                    </div>
                </div>

                <div class="button-container">
                    <input class="download-button" type="submit" value="Tải xuống">
                </div>
                <div class="message-container">
                    <p id="message"></p>
                </div>

            </form>

        </div>
        <div class="playlist-download-container" id="playlist_download_container" hidden>
            <div class="input-container">
                <div class="input-text-container">
                    <label for="playlist_url">Nhập playlist url</label>
                    <br>
                    <input type="text" id="playlist_url" onchange="getPlayListVideos()">
                </div>
                <div class="select-container">
                    <label for="playlist_general_resolution">Chất lượng chung</label>
                    <br>
                    <select id="playlist_general_resolution" onchange="update_resolution_selection()">

                    </select>
                </div>
            </div>
            <div class="playlist-content-container">
                <ul id="playlist_videos">
                    <!--                    <li>-->
                    <!--                        <div class="left-column">-->
                    <!--                            <a href="#" title="Tên bài hát">Tên video</a>-->
                    <!--                        </div>-->
                    <!--                        <div class="right-column">-->
                    <!--                            <form>-->
                    <!--                                <div class="right-column-half">-->
                    <!--                                    <select id="resolution" name="resolution">-->

                    <!--                                </select>-->
                    <!--                                </div>-->
                    <!--                                <div class="right-column-half">-->
                    <!--                                    <input class="download-button" type="submit" value="Tải xuống">-->
                    <!--                                </div>-->

                    <!--                            </form>-->
                    <!--                        </div>-->
                    <!--                    </li>-->
                </ul>
            </div>
            <div class="button-container" style="text-align: center">
                <form action="/playlist_download" method="POST">
                    <input class="download-button" type="submit" value="Tải xuống tất cả">
                    <input type="hidden" name="playlist_url" id="form_playlist_url">
                    <input type="hidden" name="resolution" id="form_playlist_resolution">
                </form>
            </div>
            <div class="message-container" style="text-align: center">
                <p id="playlist_message"></p>
            </div>
        </div>
        <div class="channel-download-container" id="channel_download_container" hidden>
            <div class="input-container">
                <div class="input-text-container">
                    <label for="channel_url">Nhập playlist url</label>
                    <br>
                    <input type="text" id="channel_url" onchange="getPlayListVideos()">
                </div>
                <div class="select-container">
                    <label for="general_resolution">Chất lượng chung</label>
                    <br>
                    <select id="general_channel_resolution" >

                    </select>
                </div>
            </div>
            <div class="playlist-content-container">
                <ul id="videos">

                </ul>
            </div>
            <div class="button-container" style="text-align: center">
                <form action="#" method="POST">
                    <input class="download-button" type="submit" value="Tải xuống tất cả">
                    <input type="hidden" name="channel_url" id="form_channel_url">
                    <input type="hidden" name="channel_resolution" id="form_channel_resolution">
                </form>
            </div>
            <div class="message-container" style="text-align: center">
                <p id="channel_message"></p>
            </div>
        </div>


    </div>

</div>
</div>
<script>

</script>
</body>
</html>